.balance-card {
  background-color: var(--red);
  color: var(--white);
  margin-top: auto;
  padding: 0 24px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  margin-top: 0;
}

.amount {
  font-weight: bold;
  margin: 0;
}

@media only screen and (max-width: 412px) {
  .balance-card {
    width: 343px;
    height: 97px;
    border-radius: 10px;
    margin-bottom: 16px;
  }

  .text {
    font-size: 15px;
    margin-bottom: 3px;
  }

  .amount {
    font-size: 24px;
  }
}

@media only screen and (min-width: 413px) {
  .balance-card {
    width: 540px;
    height: 125px;
    border-radius: 20px;
    margin-bottom: 24px;
  }

  .text {
    margin-bottom: 7px;
  }

  .amount {
    font-size: 32px;
  }
}