.dayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bar {
  background-color: var(--red);
  border-radius: 3px;
}

.label {
  text-align: center;
  color: var(--med-brown);
}

@media only screen and (max-width: 412px) {
  .bar {
    width: 33px;
    margin-bottom: 11px;
  }

  .label {
    width: 33px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 413px) {
  .bar {
    width: 50px;
    margin-bottom: 8px;
  }

  .label {
    width: 50px;
    font-size: 15px;
  }
}