.dayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bar {
  background-color: var(--red);
  border-radius: 3px;
}

.label {
  text-align: center;
  color: var(--med-brown);
}

@media only screen and (max-width: 412px) {
  .bar {
    width: 33px;
    margin-bottom: 11px;
  }

  .label {
    width: 33px;
    font-size: 12px;
  }

  .hoverLabel {
    display: none;
  }
}

@media only screen and (min-width: 413px) {
  .bar {
    width: 50px;
    margin-bottom: 8px;
    transition: background-color 0.15s;
  }

  .label {
    width: 50px;
    font-size: 15px;
  }

  .hoverLabel {
    color: var(--card-white);
    font-weight: bold;
    background-color: var(--dark-brown);
    width: 72px;
    height: 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin: 0 -11px 8px -11px;
    transition: height ease-in 0.1s;
  }

  .dayContainer:hover > .bar {
    background-color: var(--red-hov);
  }

  .dayContainer:hover > .hoverLabel {
    height: 40px;
  }
}