.spending-card {
  background-color: var(--card-white);
  color: var(--dark-brown);
  margin-bottom: auto;
}

.heading {
  font-weight: bold;
  margin: 0;
}

.divider {
  background-color: var(--cream-bg);
  height: 2px;
  border-radius: 1px;
}

@media only screen and (max-width: 412px) {
  .spending-card {
    width: 343px;
    height: 421px;
    border-radius: 10px;
    padding: 24px 20px;
  }

  .heading {
    font-size: 24px;
  }
}

@media only screen and (min-width: 413px) {
  .spending-card {
    width: 540px;
    height: 511px;
    border-radius: 20px;
    padding: 32px 40px
  }

  .heading {
    font-size: 32px;
  }
}