.label {
  text-align: center;
  color: var(--med-brown);
}

@media only screen and (max-width: 412px) {
  .label {
    width: 33px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 413px) {
  .label {
    width: 50px;
    font-size: 15px;
  }
}